

<!DOCTYPE html>
<html>
<head><title>
	
     登录芒果 | 芒果移动广告优化平台

</title>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
    <script src="/Scripts/menu.js" type="text/javascript"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23210738-1']);
        _gaq.push(['_setDomainName', '.adsmogo.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
</script>
</head>
<body >
    <div id="page_top">
        <div id="header">
        
            <div id="logo">
                <a href="/Home">
                    <img alt="" src="/Content/Images/logo.png" border="0" /></a>
            </div>
            <div id="login">
           
                <a href="/Account/LogOn">登录</a>
        &nbsp;|&nbsp;
        <a href="/Account/Register">注册</a>

           
            </div>
            <ul id="menu">
                
            </ul>
        </div>
        <div id="main">
            <div id=submenu>
            
                
<div class="lable">
    </div>

                
            </div>
            
    <div class="register_img">
    </div>
    <div class="register_pnl">
        <div class="top">
            登录芒果</div>
        <script src="/Scripts/jquery.validate.min.js" type="text/javascript"></script>
        <script src="/Scripts/jquery.validate.unobtrusive.min.js"
            type="text/javascript"></script>
        <div class="mid">
            <form action="/Account/LogOn?ReturnUrl=%2fApps%2fDownloadConfigFromDB%2f8eeeb3ecba2e4af6b925ddd8f5da1c33%3fPlatform%3d2&amp;Platform=2" method="post">
            
            <div>
                <div class="label">
                    登录邮箱&nbsp;&nbsp;
                    <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                </div>
                <div class="field">
                    <input data-val="true" data-val-regex="请输入正确的邮箱地址" data-val-regex-pattern="\w+([-+.&#39;]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*" data-val-required="请输入您的登录邮箱" id="Email" name="Email" type="text" value="" />
                </div>
                <div class="label">
                    登录密码&nbsp;&nbsp;
                    <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
                <div class="field">
                    <input data-val="true" data-val-required="请输入您的登录密码" id="Password" name="Password" type="password" />
                </div>
                 <div class="label" >
                       <input data-val="true" data-val-required="The RememberMe field is required." id="RememberMe" name="RememberMe" style="width:auto;" type="checkbox" value="true" /><input name="RememberMe" type="hidden" value="false" />&nbsp;<label  for="RememberMe" style=" font-size:14px;line-height:20px;">记住我的登录信息</label>
                </div>
                
                <div class="link_field">
                    <a href="/Account/ForgotPassword">忘记密码</a>
                    &nbsp;|&nbsp;
                    <a href="/Account/Register">立即注册</a>
                </div>
                
                <p>
                    <input type="submit" value="登录" class="btn1" />
                </p>
            </div>
            </form>
        </div>
        <div class="bottom">
        </div>
    </div>
    <div class="register_phone">
    </div>

        </div>
    </div>
    <div id="page_bottom">
        <div id="footer">
            <a href="http://www.adsmogo.com/privacy">隐私政策</a> | <a href="http://www.adsmogo.com/help/">常见问题</a> | <a href="http://www.adsmogo.com/terms">服务条款</a> | <a href="http://www.adsmogo.com/contactus">关于我们</a>
            | <a href="http://www.adsmogo.com/contactus">加入我们</a> | <a href="http://www.adsmogo.com/contactus">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;客服邮箱：<a href="mailto:help@adsMogo.com">
                help@AdsMogo.com</a><br />
            Copyright © 2010-2011 <a href="http://www.adsmogo.com"><strong>芒果移动广告优化平台</strong></a> 版权所有 冀ICP备06060898
        </div>
    </div>

<script>var online = new Array();</script> 
<script src="http://webpresence.qq.com/getonline?Type=1&983229185:"></script>
<script>    if (online[0] == 1) {
 $("#qqkficon").attr("src", "/Content/Images/Submenu/QQ_online.jpg")
    } </script> 
    </body>
</html>
